*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title{
    font-style: italic;
    font-family:'Courier New', Courier, monospace ;
    font-size: 40px;
    color: purple;
}
.solgan{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 20px;
    text-align: center;
}
.real{
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color: purple;
    font-size: 30px;
}
.card-group{
    height: 380px;
    width: 1450px;
}
.container-fluid{
    padding-top: auto auto auto auto;
}
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.foods{
    width: 100px;
}

.button{
    background-color: purple;
    
    height: 50px;
    width: 200px;
}
